.center {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: blue 1px solid;
  padding: 5px;
  margin-bottom: 5px;
  width: 800px;
}

.input {
  width: 80%;
  height: 30px;
  border: none;
  outline: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
