.contact-container {
  width: 400px;
  height: 50px;
  display: flex;
}

.contact-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.contact-container:hover {
  background-color: gray;
  cursor: pointer;
}
